<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="movecam.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="movecam.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <movecam.My.MySettings>
            <setting name="nSerie" serializeAs="String">
                <value>W10A1</value>
            </setting>
            <setting name="nEsecuzioni" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="needle" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0.15</string>
                        <string>0.45</string>
                        <string>0.80</string>
                        <string>1.00</string>
                        <string>1.25</string>
                        <string>1.40</string>
                        <string>1.80</string>
                        <string>2.00</string>
                        <string>2.25</string>
                        <string>2.75</string>
                        <string>3.00</string>
                    </ArrayOfString>
                </value>
            </setting>
        </movecam.My.MySettings>
    </userSettings>
    <applicationSettings>
        <movecam.My.MySettings>
            <setting name="appName" serializeAs="String">
                <value>W10s</value>
            </setting>
            <setting name="minZoom" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="maxZoom" serializeAs="String">
                <value>10</value>
            </setting>
        </movecam.My.MySettings>
    </applicationSettings>
</configuration>